/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
  color: #333;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


/* Main Content */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 90px;
}

.intro {
  max-width: 50%;
}

.intro h1 {
  font-size: 5rem;
  color: #0078ff;
  font-weight: bold;
}

.name-highlight {
  color: #0078ff;
}

.last-name {
  color: #004b8f;
}

p {
  margin-top: 10px;
  font-size: 1.3rem;
  color: #555;
}

.circle-image {
  width: 400px; /* Circle size */
  height: 400px;
  overflow: hidden; /* Hides anything outside the circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the circle without distortion */
  overflow: hidden; /* Prevent scrolling beyond the image */

}


